html {
  font-family: verdana;
}

#image {
  height: auto;
  width: 50%;
  text-align: center;
  padding: 15px;
}

#img-caption {
  padding-bottom: 15px;
}

#img-div {
  background-color: white;
  }

li {
  margin: 20px 0;
}

#main {
  text-align: center;
  background-color: Gainsboro;
}

.quote {
  font-style: italic;
}

ul {
  width: 40%;
  margin: 0 auto;
  list-style: inside;
  text-align: left;
}
